$header-font-color: #080808;
$cell-font-color: #43516C;
$header-font-size: 14px;
$active-color: #377DF7;
$border-color: #E7EBED;

.dumbTable{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    overflow-x: hidden;
    zoom: 1;

    border: 1px solid $border-color;
    border-radius: 3px;
		font-size: 13px;

    & *, & *:before, & *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    & table{
        width: 100%;
        table-layout: fixed;

        -webkit-border-horizontal-spacing: 0;
        -webkit-border-vertical-spacing: 0;
    }

    & th,
    & td{
        position: relative;

        border-collapse: separate;
        border-spacing: 0;

        vertical-align: middle;
        empty-cells: show;
    }

    & a{
        color: #54b4f7;
    }

    &__btn{
        vertical-align: top;
        background: #fff;
        cursor: pointer;
        min-width: 22px;
        padding: 0 4px;
        height: 24px;
        border: 0;
        outline: none;
        &.reload-btn{
            margin-right: 5px;
        }
    }


    &__icon{
        fill: #818B9E;
    }

    &__header{
        border-bottom: 1px solid $border-color;
        padding-right: 8px;

    }


    &__headerCell{
        font-weight: normal;
        color: $header-font-color;
        font-size: 0.929em;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        overflow: hidden;
        padding-left: 4px;
        padding-right: 15px;
	    padding-top: 3px;
	    padding-bottom: 3px;
        line-height: 1.1em;
        margin-right: 3px;
        cursor: pointer;

        &.sorted{
            font-weight: bold;
        }
    }

    &__headerCell.number{
        text-align: right;
        margin-right: 6px;
    }

    &__headerSort{
        position: absolute;
        right: 6px;
        margin-top: -10px;
        bottom:50%;
        width: 20px;
        height: 20px;
        transform: translateY(50%);
        cursor: pointer;
        & svg{
            fill: $header-font-color;
        }
    }

    &__headerCellResize{
        position: absolute;
        right: -3px;
        bottom: 0;
        top: 0;

        background: #fff;
        width: 8px;

        cursor: col-resize;
        z-index: 1;
        height: 100%;

        transition: background 200ms ease-in-out;

        &:before{
            content: '';

            position: absolute;
            bottom: 0px;
            top: 0px;
            left: 50%;

            border-right: 1px solid $border-color;
        }

        &:hover{
            background: lighten($border-color, 5%);
        }
    }

    &__content{
        overflow-y: scroll;
        overflow-x: hidden;
        flex: 1;
    }
    &__content::-webkit-scrollbar{
        width: 8px;
        border-left: 1px solid #E7EBED;
    }



    &__content::-webkit-scrollbar-thumb{
        background: rgba(128, 128, 128, 0.29);
        border-radius: 5px;
        cursor: pointer;
    }

    &__contentRow{
        cursor: pointer;
	      border-bottom: 1px solid #E7EBED;

        &:nth-child(2n){
            background: #F9FAFA;
        }

        &--selected{
            //background: #dee9fc !important;
            background: #3279fb !important;

	          td {
		          color: #fff;
	          }
        }
	      &:hover {
		      background: #dee9fc;
	      }
    }

    &__contentCell{
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1em;
        color: $cell-font-color;
        border-right: 1px solid #E7EBED;
        border-bottom: 1px solid #E7EBED;
        min-height: 15px;
        overflow: hidden;

        //padding-left: 4px;
        //padding-right: 6px;
        padding: 0 3px;
        line-height: 1.4em;

	      &:last-child {
		      border-right: 0;
	      }
    }
    &__contentCell.number{
        text-align: right;
    }




}

.simple-data-table__footer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-top: 1px solid #E9E3E6;

    background-color: white;

}

.simple-data-table__footer > .simple-data-table__footer-info{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 3px 10px;

    display: flex;
    flex-direction: row;
	align-items: center;
    &__footer-controls{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.simple-data-table__footer > .simple-data-table__footer-pagination{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 3px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.simple-data-table__footer-pagination-buttons{
    display: flex;
}

.simple-data-table__footer > .simple-data-table__footer-settings{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 3px 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.simple-data-table__buttons_group .simple-data-table__button{
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: white;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-color: #E3E3E3;
    border-width: 1px 1px 1px 0;
    height: 26px;
    min-width: 26px;
}
.simple-data-table__buttons_group .simple-data-table__button:first-child{
    margin:0 0 0 5px;
    border-radius: 3px 0 0 3px;
    border-width: 1px;
}
.simple-data-table__buttons_group .simple-data-table__button:last-child{
    border-radius: 0 3px 3px 0;
}


.simple-data-table__button{
    padding: 0 5px;
    margin: 0 0 0 5px;
    border-radius: 3px;
    background-color: white;
    outline: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #E3E3E3;
    height: 26px;
    min-width: 26px;
}

.simple-data-table__button.success{
    border-color: darkgreen;
    color: darkgreen;
}

.simple-data-table__button:disabled > svg{
    fill-opacity: 0.5;
}

.simple-data-table__button.active {
    background-color: #3279fb;
    color: #fff;
}

.simple-data-table__button.simple-data-table__button-icon {
    padding: 0;
}

.simple-data-table__button > svg {
    fill: #7a7578;

}


.simple-data-table__footer-reload-button{
    padding: 0;
    margin: 0 0 0 5px;
    border-radius: 3px;
    background-color: white;
    outline: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #E3E3E3;
    height: 26px;
    min-width: 26px;
}
.simple-data-table__footer-reload-button > svg{
    fill: #7a7578;
}


.simple-data-table__footer-limit-selector-wrapper{
    background-color: white;
    display: flex;
    height: 26px;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    margin-left: 5px;
}

.simple-data-table__footer-select{
    position: relative;
    height: 100%;
    padding-left: 10px;
    padding-right: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    -webkit-appearance: none;
    z-index: 100;
}

.simple-data-table__footer-limit-selector-wrapper >svg {
    fill: #7a7578;
    margin-left: -24px;
    z-index: 99;
}

.simple-data-table__resize-handle{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;

    background: black;
    width: 5px;

    display: none;
}



.simple-data-table__no-selection{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: col-resize;
}

.simple-data-table__context-wrapper{
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

}



.simple-data-table__context-menu__item{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.simple-data-table__context-menu__item:hover{
    cursor: default;
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.simple-data-table__context-menu__item__divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

// Select
.dumbTableSelect{
    position: relative;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: 2px 25px 2px 7px;

    &__select{
        height: 100%;
        padding-left: 8px;
        padding-right: 18px;
        background-color: transparent;
        text-align: center;
        outline: none;
        min-height: 24px;
        border: none;
        -webkit-appearance: none;
        color: $cell-font-color;
        font-size: 13px;
        z-index: 25;

    }

    &__icon{
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 5px;
        fill: #818B9E;
        z-index: 1;
    }

    &__list{
        position: absolute;
        z-index: 20;
        border-radius: 3px;
        bottom: 0;
        width: 100%;
        left: 0;
        background: white;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    &__listItem{
        padding: 2px 0 2px 7px;
        &:hover{
            cursor: default;
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }
    }

}

// Info

.dumbTableInfo{
    color: $cell-font-color;
		margin-right: 10px;
    font-size: 0.9em;
}

// Pagination

.dumbTablePagination{
    display: flex;
    flex-direction: row;
    &__pages{

        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__btn,
    &__page{
        display: inline-block;
        vertical-align: top;
        background: #fff;
        cursor: pointer;
        min-width: 22px;
        padding: 3px 6px;
        // height: 24px;
        // line-height: 1em;
        border: 0;
        outline: none;
        
    }
    &__btn{
        line-height: 1em;
        svg{
            fill: #818B9E;
            transition: fill 200ms ease-in-out;            
        }

        &:hover svg{
            fill: $active-color;
        }

        &[disabled]{
            cursor: not-allowed;

            &:hover svg{
                fill: #C3C8D1;
            }

            svg{
                fill: #C3C8D1;
            }
        }
    }

    &__page{
        border-radius: 2px;
        text-align: center;
        line-height: 1em;
        font-size: 1em;
        color: $cell-font-color;

        transition: background 200ms, color 200ms ease-in-out;

        &:hover{
            color: $active-color;
        }

        &--active{
            background: $active-color;
            color: #fff;
            cursor: default;

            &:hover{
                color: #fff;
            }
        }
    }
}